<div class="container">
  <%= render "shared/header" %>

  <div class="jumbotron">
    <input id="code-field" type="text" placeholder="Enter Code" />
    <p><a class="btn btn-primary btn-success" href="#" role="button">GO</a></p>
  </div>


  <%= render "shared/footer" %>

</div> <!-- /container -->
